In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("data/commodity-2000-2022.csv")

In [2]:
df.describe()

               Open          High           Low         Close         Volume
count  34158.000000  34158.000000  34158.000000  34158.000000   34158.000000
mean    1049.095990   1052.926784   1044.946756   1052.675588    2871.630950
std      520.928989    522.991400    518.625896    523.103658   20859.478723
min      255.000000    255.000000    255.000000    255.100000       0.000000
25%      460.100000    460.100000    460.000000    460.100000       5.000000
50%     1221.000000   1225.700000   1216.800000   1234.100000      57.000000
75%     1406.000000   1409.200000   1403.100000   1415.300000     246.000000
max     2121.700000   2121.700000   2121.700000   2117.100000  447651.000000

In [3]:
df_nvol0 = df[df.Volume > 0]

In [4]:
df_nvol0.describe()

               Open          High           Low         Close         Volume
count  29328.000000  29328.000000  29328.000000  29328.000000   29328.000000
mean    1131.724857   1136.109615   1126.962316   1135.766612    3344.557079
std      492.447414    494.191080    490.468042    494.374136   22476.602338
min      255.000000    255.000000    255.000000    255.100000       1.000000
25%      678.300000    679.825000    674.650000    679.225000      20.000000
50%     1278.300000   1279.950000   1276.450000   1286.050000      88.000000
75%     1450.525000   1450.925000   1445.200000   1459.550000     320.000000
max     2121.700000   2121.700000   2121.700000   2117.100000  447651.000000

In [5]:
df_nvol0[['Symbol','Open','High','Low','Close','Volume']].groupby('Symbol').describe()

               Open                                                           \
              count         mean         std    min    25%     50%       75%
Symbol
Brent Oil    4888.0  1131.724857  492.489399  255.0  678.3  1278.3  1450.525
Gold         4888.0  1131.724857  492.489399  255.0  678.3  1278.3  1450.525
Natural Gas  4888.0  1131.724857  492.489399  255.0  678.3  1278.3  1450.525
Nickel       4888.0  1131.724857  492.489399  255.0  678.3  1278.3  1450.525
Palladium    4888.0  1131.724857  492.489399  255.0  678.3  1278.3  1450.525
Wheat        4888.0  1131.724857  492.489399  255.0  678.3  1278.3  1450.525

                       High               ...    Close          Volume  \
                max   count         mean  ...      75%     max   count
Symbol                                    ...
Brent Oil    2121.7  4888.0  1136.109615  ...  1459.55  2117.1  4888.0
Gold         2121.7  4888.0  1136.109615  ...  1459.55  2117.1  4888.0
Natural Gas  2121.7  4888.0  1136.109615  ...  1459.55  2117.1  4888.0
Nickel       2121.7  4888.0  1136.109615  ...  1459.55  2117.1  4888.0
Palladium    2121.7  4888.0  1136.109615  ...  1459.55  2117.1  4888.0
Wheat        2121.7  4888.0  1136.109615  ...  1459.55  2117.1  4888.0


                    mean           std  min   25%   50%    75%       max
Symbol
Brent Oil    3344.557079  22478.518616  1.0  20.0  88.0  320.0  447651.0
Gold         3344.557079  22478.518616  1.0  20.0  88.0  320.0  447651.0
Natural Gas  3344.557079  22478.518616  1.0  20.0  88.0  320.0  447651.0
Nickel       3344.557079  22478.518616  1.0  20.0  88.0  320.0  447651.0
Palladium    3344.557079  22478.518616  1.0  20.0  88.0  320.0  447651.0
Wheat        3344.557079  22478.518616  1.0  20.0  88.0  320.0  447651.0

[6 rows x 40 columns]

In [14]:
df_india_diff = df_nvol0['Close'] - df_nvol0['Open']